/* Loid Color
    Hair            #d1c8a0
    Shadow hair     #364a4e
    Skin            #f5ead4
    Shadow skin     #f5ead4
    Eye             #364a4e
    Suit            #647c6c
    Tie             #b25745
    Shadow Tie      #773e27
*/

html ,body{
    width: auto;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

body {
    background-color: #f5ead4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.shortpage {
    height: 80%;
}

table {
    width: 100%;
}

#header{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: #d1c8a0;
}

#header h1 {
    font-family: "Satisfy", serif;
    color: #364a4e;
    font-size: 50px;
    font-weight: 700;
	font-variant: small-caps;
    margin-top: 0px;
	margin-left: 0.7em;
    margin-bottom: 1em;
    text-align: left;
    height: 0px;
}

#header .right {
    text-align: right;
    padding:2em;
}

#header .button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 36px;
    border-radius: 50px;
    color: #fcf4f1;
    background: #647c6c;
    text-decoration: none;
}

#header .button:hover {
    color: #364a4e;
    background: #f5ead4;
    box-shadow: #fff4c2;
}

#icon {
    background: none; 
    border: none;
    color: #364a4e;
    font-size: 38px;
}

.navbar {
    overflow: hidden;
	background-color:#647c6c;
    position: fixed; /* Set the navbar to fixed position */
    top: 115px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 5px;
    border-top: 1px solid #364a4e;
	border-bottom: 1px solid #364a4e;
}
  
.navbar a {
    float: left;
    display: block;
    color: #fff4c2;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    /*Set font weight to bold*/
    font-weight: bold;
    border-right: 1px dashed #fff4c2;
}

/* Change background on mouse-over */
.navbar a:hover {
    color: #647c6c;
    padding: 5px;
    background-color: #fff4c2;
}

#content{	
    margin-top: 160px;
	padding:1em;
    width: auto;
}

#content h2 {
    text-align: center;
    color: #b25745;
    font-size:xx-large;
	font-weight: 40px;
	margin-top:0em;
	margin-bottom:0em;	
}

#content h3 {
    text-align: center;
    color: #364a4e;
    font-size:x-large;
	font-weight: 40px;
	margin-top:0em;
	margin-bottom:0em;	
}

.form {
    margin-top: 250px;
    min-height: 71.5%;
}

.form label{
	display: block;
	/*Align the text to the right*/
	text-align: right;
	/*Set text to bold
	font-weight: bold;*/
	/*Fix the width to 200px.*/
	width: 200px;
	/*Set float property to left so that the labels are on the left of text fields*/
	float: left;
	margin-right:10px;
}

.form input{
	padding: 4px 2px;
	margin: 2px 2px 10px 10px;
	
}

.form input[type="text"], .form input[type="password"]{
	display:block;
	width:300px;
	outline: 8px ridge black (170, 50, 220, .6);
 	outline-width: medium;
 	border-radius: 2rem;
 	height: 13px;	
	margin: 2px 2px 20px 10px;
}

.form input[type="submit"]{
	/*Set width to 150 pixels to have a big submit button*/
	width: 150px;
	outline: 2px ridge black (170, 50, 220, .6);
	outline-width: medium;
 	border-radius: 2rem;
	height:150 px;
	position: relative;
	margin: 2px 2px 20px 10px;
	
}

.BDnGender input{
	float: center;
	position:absolute;
	margin: 2px 2px 10px 10px;
}

.wrapinput {
    margin-top: 0.8%;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

#card .img {
    width: 100%;
}
#card table {
    border-spacing: 20px;
    margin-top: -100px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

#card tr{
	text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

#card th {
    text-align: center;
    background-color: white;
    width: 300px;
}

#card .title {
    font-size: large;
}

#card .text {
    font-size: medium;
    font-weight: lighter;
    margin-bottom: 30px;
}

#card .button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 30px;
    color: #efcf60;
    background: #647c6c;
    text-decoration: none;
    margin-bottom: 20px;
}

.submit {
    padding: .5em;
    border-radius: 50px;
    color:#efcf60;
    background: #647c6c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    border: none;
}

.submit:hover {
    border: none;
    color: #647c6c;
    background-color: #d1c8a0;
    box-shadow: 0px 0px 1px #efcf60;
}

.switch {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 34px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 34px;
	width: 60px;
	background-color: rgb(230, 54, 54);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #3ab22f;
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #1f9a6d;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

  .column {
    text-align: left;
    width:auto;
    padding: 10px;
  }

  .row {
    display: table;
    clear: both;
  }
 

#footer{
    bottom:0;
    position:static;
    width:100%;
    font-family: sans-serif;
	border-top: 1px solid #364a4e;
	text-align: center;
	background-color: #647c6c;
    padding: 1em;
    color: #f5ead4;
    height: 20px;
}

.shortpage #footer {
    bottom:0;
    position:absolute;
    width:100%;
    font-family: sans-serif;
	border-top: 1px solid #364a4e;
	text-align: center;
	background-color: #647c6c;
    padding: 1em;
    color: #f5ead4;
    height: 20px;
}
